* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  margin: 0 auto;
  max-width: 1000px;
  color: #15357a;
  background-color: #f0f3f5;
}
.App {
  padding: 10rem;
}
@media only screen and (max-width: 500px) {
  .App {
    padding: 5rem;
  }
}
form {
  margin: 2rem 0;
  max-width: 50rem;
}
input {
  width: 100%;
  font-size: 1.6rem;
  padding: 1rem;
}
.results {
  margin-top: 0.5rem;
  background-color: #fff;
  padding: 0.4rem;
  border-radius: 5px;
}
.results-hide {
  visibility: hidden;
}
.results li {
  font-size: 1.8rem;
  list-style: none;
  padding: 1rem 0.5rem;
  font-weight: 500;
}
.empty_search {
  font-size: 1.4rem;
  padding: 0.5rem;
  color: rgb(223, 107, 107);
}
.results .hightLightedWord {
  color: #15357ab6;
}
